.contact {
    padding: 100px 0;

    &-info {
        padding: 15px 0;

        h3 {
            font-size: 20px;
            font-weight: 700;
        }

        .social-icons {
            justify-content: start;
        }
    }

    &-heading {
        font-size: 36px;
        text-transform: capitalize;
        margin-bottom: 30px;
    }

    &-form {
        .cinput {
            font-size: 16px;
            width: 100%;
            padding: 10px 15px;
            color: #000;
            border-color: transparent;
            border: 1px solid #ccc;
            border-radius: 6px;
            margin-bottom: 20px;

            &.cmsg {
                min-height: 130px;
            }

            @media (min-width: 992px) {
                margin-bottom: 30px;
            }
        }
    }
}