.cta {
    background-color: var(--primary);
    text-align: center;
    h2 {
        font-size: 50px;
        color: var(--white);
        margin-bottom: 30px;
    }
    .btn-cta {
        border-color: var(--white);
        color: var(--white);
        background-color: transparent;
        &:hover {
            background-color: var(--white);
            color: var(--primary);
        }
    }
}