.footer {
    padding: 50px 0;
    background-color: var(--background);
    border-top: 1px solid #eee;
    .site-logo {
        margin-bottom: 20px;
    }
}
.copyright {
    margin-top: 30px;
    margin-bottom: 0;
}