.header {
    padding: 20px 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.site-logo {
    font-size: 28px;
    font-weight: 600;
    display: inline-block;
}

.navbar {
    ul {
        li {
            list-style: none;
            display: inline-block;
            padding: 0 15px;

            a {
                font-size: 16px;
                font-weight: 500;
                color: var(--foreground);
                display: inline-block;

                &:hover {
                    color: var(--primary);
                }
            }
        }
    }
}