.social-icons {
    display: flex;
    justify-content: center;
    gap: 16px;

    a {
        display: flex;
        border: 1px solid #000;
        width: 40px;
        height: 40px;
        justify-content: center;
        border-radius: 50%;

        svg {
            width: 20px;
        }
        &:hover {
            background-color: #000;
            color: #fff;
            svg {
                fill: #fff;
            }
        }
    }
}