.story {
    .content {
        p {
            font-size: 18px;
            line-height: 1.3;
            @media (min-width: 992px) {
                font-size: 24px;
                line-height: 1.5;
            }
        }
    }
}