.team {
    &-item {
        padding: 30px;
        border: 1px solid #ebebeb;
        text-align: center;
        transition: all ease 0.4s;
        transform: translateY(10px);
        border-radius: 6px;
        margin-bottom: 30px;

        &:hover {
            transform: translateY(0px);
            box-shadow: 0 31px 31px rgba(0, 0, 0, 0.1);
        }
    }

    &-image {
        overflow: hidden;
        margin-bottom: 16px;
        border-radius: 100%;
        display: inline-block;

        img {
            height: auto;
            width: 100%;
            max-width: 100%;
        }
    }

    .author-name {
        font-size: 24px;
        line-height: 1;
        margin-bottom: 8px;
        color: var(--foreground);
        text-transform: capitalize;
    }

    .author-position {
        font-size: 16px;
        line-height: 1;
        font-weight: 400;
        color: var(--foreground);
        margin-bottom: 14px;
    }
}