.testimonial {
    padding: 100px 0;

    &-item {
        margin-bottom: 20px;
    }

    &-content {
        padding-bottom: 20px;
        border-bottom: 1px solid #e7e1e1;
        margin-bottom: 30px;

        .quote-icon {
            width: 50px;
            margin-bottom: 15px;

            svg {
                fill: #999;
            }
        }

        p {
            font-size: 20px;
            line-height: 1.3;
            font-weight: 600;
            font-style: italic;
        }
    }

    &-info {
        .author-name {
            font-size: 20px;
            font-weight: 700;
            line-height: 1;
        }

        .author-position {
            font-size: 14px;
            font-weight: 400;
        }
    }
}