@use "@/styles/bootstrap-grid";
@use "@/styles/header";
@use "@/styles/hero";
@use "@/styles/social-icons";
@use "@/styles/footer";
@use "@/styles/service";
@use "@/styles/testimonial";
@use "@/styles/cta";
@use "@/styles/banner";
@use "@/styles/story";

:root {
  --primary: #3161f2;
  --background: #ffffff;
  --foreground: #171717;
  --white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all ease 0.4s;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
}

/*
  preset custom classes
*/

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.btn {
  padding: 10px 25px;
  background: var(--foreground);
  color: var(--white);
  border-radius: 6px;
  display: inline-block;
  border: 1px solid var(--foreground);

  &:hover {
    background: transparent;
    color: var(--foreground);
  }

  +.btn {
    margin-left: 10px;
  }

  &.btn-secondary {
    background: transparent;
    color: var(--foreground);
    border-color: var(--foreground);

    &:hover {
      background: var(--foreground);
      color: var(--white);
    }
  }
}

// Section Common styles
.section-padding {
  padding: 50px 0;

  @media (min-width: 992px) {
    padding: 100px 0;
  }
}

.section-heading {
  padding-bottom: 30px;

  span {
    border: 1px solid #999;
    padding: 10px 15px;
    font-size: 18px;
    line-height: .8;
    font-weight: 400;
    border-radius: 25px;
    display: inline-block;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
  }

  p {
    font-size: 18px;
    font-weight: 500;
  }
}

.bg-gray {
  background: #f8f9fa;
}